/* App-Only (Unique) Landscape Styles */
@media (orientation: portrait) {
	body {
		background-size: auto 100vh;
	}
	canvas {
		width: 90vw;
		height: 90vw;
	}
	/*Start Section*/
	#startStepper {
		width: 20vh;
		height: 20vh;
		margin: 2.5vh;
		background-color: #ec0;
		border-color: #ca0;
		border-width: 1.5625vh;
		border-radius: 10vh;
		font-size: 6.25vh;
		float: left;
	}
	/*Sticker Section*/
	#stickerCanvas {
		width: 90vw;
		height: 90vw;
	}
	/*End Section*/
	#endCanvas {
		width: 90vw;
		height: 90vw;
	}
}
