/* App-Only (Unique) Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #111;
	font-size: 1em;
	font-family: Arial, sans-serif;
	text-align: center;
}
body {
	background-color: #290059;
	background-image: url("../assets/backgrounds/background.png");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: auto 100vh;
}
@media (orientation: landscape) {
	body {
		background-size: 100vw auto;
	}
}
.section {
	display: none;
}
canvas {
	margin: 0;
	padding: 0;
	height: 85vh;
}
button {
	height: 10vh;
	flex: 1;
	margin: 0.3125vh 0.625vw;
	background-color: #ffc500;
	border-color: #dda300;
	border-width: 1vw;
	border-radius: 10vw;
	font-size: 3.75vh;
}
button img {
	height: 7.5vh;
	background-color: rgba(0,0,0,0);
}
.flexButtons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

/*Start Section*/
#startSection {
	display: block;
}
#startSection button {
	margin: 2.5vw;
	background-color: #ffc500;
	border-color: #dda300;
	float: left;
	display: block;
}
#startStepper {
	width: 20vw;
	height: 20vw;
	border-width: 1.5vw;
	border-radius: 10vw;
	font-size: 5vw;
}

/*Video Section*/
video {
	height: 75vh;
}
#videoSection button {
	width: 40vw;
}
#videoSection p {
	width: 100vw;
	height: 2.5vh;
	font-size: 2.5vh;
}

/*Picture Section*/
#pictureSection button {
	width: 40vw;
	margin: 0 2.5vw;
}

/*Sticker Section*/
#stickerCanvas {
	height: 85vh;
}
	/*Sticker Selection Overlay*/
#stickerSelection {
	display: none; /*Becomes Flex*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 2.5vh;
}
#stickerSelection button {
	height: 15vh;
	flex: 1 1 auto;
}
#stickerSection img {
	height: 7.5vh;
}

/*End Section*/
#endCanvas {
	height: 85vh;
}
#photoDownload {
	width: 100vw;
	height: 6.25vh;
	font-size: 3.125vh;
}
#endSection button {
	width: 33.333vw;
	height: 7.5vh;
	font-size: 3vh;
}
#endReminder {
	width: 90vw !important;
	height: auto !important;
	border-radius: 0.25vh !important;
	font-size: 1rem !important;
}

@media (orientation: portrait) {
	canvas {
		width: 90vw;
		height: 90vw;
	}
	/*Video Section*/
	video {
		width: 100vw;;
	}
	/*Start Section*/
	#startStepper {
		width: 20vh;
		height: 20vh;
		margin: 2.5vh;
		border-width: 1.5625vh;
		border-radius: 10vh;
		font-size: 6.25vh;
		float: left;
	}
	/*Sticker Section*/
	#stickerCanvas {
		width: 90vw;
		height: 90vw;
	}
	#stickerSelection button {
		height: 12.5vh;
	}
	/*End Section*/
	#endCanvas {
		width: 90vw;
		height: 90vw;
	}
}
