* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #111;
	font-size: 1em;
	font-family: Arial, sans-serif;
	text-align: center;
}
body {
	background-color: #44022b;
}
#fof {
	width: 100vw;
	margin: 25vh 0;
}
#fof div {
	width: 75vw;
	margin: 0 12.5vw;
	padding: 3.125vh 3.125vw;
	border-radius: 3.125vh;
	background-color: #890456;
}
#fof h1 {
	color: #fdceeb;
}
#fof p {
	color: #fee6f5;
}
#fof a {
	color: #df078c;
}
