/* Main (And Only) Stylesheet */

* {
	margin: 0.5vh;
	padding: 0;
	box-sizing: border-box;
	background-color: #eee;
	color: #111;
	font-size: 1em;
	font-family: Arial, sans-serif;
	text-align: center;
}

.section {
	display: none;
}

#video {
	width: 50vw;
}

#canvas {
	width: 50vw;
}
