/* 404 Error Page Styles */
header {
	width: 66.666vw;
	margin: 33.333vh 12.5vw;
	width: 75vw;
	font-size: 10vh;
}
span {
	padding: 0.25vw;
	font-size: 0.9rem;
	background-color: #abf;
	border-radius: 1.25vw;
}
span a {
	padding: 0;
	background-color: #abf;
	font-size: 0.9rem;
}
